<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        #reset-button {
            padding: 20px; 
            border-radius: 5px; 
            color: white;
            background-color: #343a40;
            border: 1px solid black;
            transition: background-color 200ms ease-in-out;
        }
        #reset-button:hover {
            background-color: #23272b;
        }
    </style>
  </head>
  <body style='margin: 0; font-family: Helvetica; text-align: center;'>

    <div style='background-color: rgb(117, 187, 253); display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 30px; padding-bottom: 50px;'>
        <a href='https://famous-quotes.uk'><span>Famous-Quotes.uk</span></a>
        <h1 style='text-align: center;'>Forgotten Password?</h1>
        <p>Click on the link below to reset your password.</p>
        <a href={{link}}>
            <button id='reset-button' class='my-5 btn btn-primary'>Reset password for<br/>{{email}}</button>
        </a>
        <p>This link is only valid for 24 hours.</p>
    </div>

</html>
